html {
    touch-action: none;
}

body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background-color: #e3e3e3;
    padding: 0 0.2em;
    border-radius: 0.2em;
}

[contenteditable='true']:empty::before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
}

@keyframes animate-sidebar-1 {
    from {
        width: 0;
    }

    to {
        width: 20%;
    }
}

@keyframes animate-sidebar-2 {
    from {
        width: 20%;
    }

    to {
        width: 0;
    }
}

/*
Variables
*/
:root {
    /*
    font-size
    */
    --section-text-size: 20px;
    --item-text-size: 16px;
    --breadcrumb-text-size: 14px;
    --page-title-text-size: 28px;
    --text-block-font-size: 16px;

    /*
    z-index
    */
    --sidebar-z-index: 1;
    --pageinfo-z-index: 1;
    --editor-z-index: 0;
    --editor-page-z-index: 0;
    --editor-floatings-z-index: 1;

    /*
    color
    */
    --disabled-color: #e3e3e3;
}

/*
Global property
*/
.disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: var(--disabled-color) !important;
}

.display-none {
    display: none;
}

/*
Sidebar styles
*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    min-width: 200px;
    margin: 0;
    z-index: var(--sidebar-z-index);
    padding-top: 20px;
}

.sidebar-section {
    margin: 50px 25px 20px;
    font-size: var(--section-text-size);
}

.sidebar-item {
    margin: 10px 35px;
    font-size: var(--item-text-size);
    display: flex;
}

.sidebar-item-icon-container {
    display: flex;
}

.sidebar-item-icon {
    width: 24px;
    height: 24px;
}

.sidebar-item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto 0 auto 10px;
}

/*
Pageinfo styles
*/
.pageinfo {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    min-width: 200px;
    margin: 0;
    z-index: var(--pageinfo-z-index);
    padding-top: 20px;
}

/*
Styles for top level pageinfo elements are identical to those of top level sidebar elements
This is intended to achieve a unified app design, but may change in the future.
*/
.pageinfo-section {
    margin: 50px 25px 20px;
    font-size: var(--section-text-size);
}

.pageinfo-item {
    margin: 10px 35px;
    font-size: var(--item-text-size);
    display: flex;
}

.pageinfo-item-icon-container {
    display: flex;
}

.pageinfo-item-icon {
    width: 20px;
    height: 20px;
}

.pageinfo-item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto 0 auto 10px;
}

/*
Editor styles
*/
.editor {
    position: absolute;
    top: 0;
    left: auto;
    height: 100%;
    width: auto;
    min-width: 200px;
    z-index: var(--editor-z-index);
    overflow: auto;
    overscroll-behavior: none;
}

.editor-left-buttons {
    position: fixed;
    display: flex;
    gap: 10px;
    z-index: var(--editor-floatings-z-index);

}

.editor-left-buttons-button {
    width: 30px;
    height: 20px;
    border: none;
    border-radius: 2px;
}

.editor-left-buttons-button-icon {
    width: 18px;
    height: 18px;
}

.editor-right-buttons {
    position: fixed;
    display: flex;
    gap: 10px;
    z-index: var(--editor-floatings-z-index);
}

.editor-right-buttons-button {
    width: 30px;
    height: 20px;
    border: none;
    border-radius: 2px;
}

.editor-right-buttons-button-icon {
    width: 18px;
    height: 18px;
}

.editor-current-scale {
    width: 30px;
    font-size: 12px;
    margin: auto;
}

.editor-breadcrumbs {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 200px;
    height: 20px;
    font-size: var(--breadcrumb-text-size);
    z-index: var(--editor-floatings-z-index);
}

.editor-page {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: var(--editor-page-z-index);
}

.editor-page-title {
    position: absolute;
    top: 80px;
    left: 60px;
    z-index: var(--editor-floatings-z-index);
}

.editor-page-title-text {
    font-size: var(--page-title-text-size);
    margin: 0 10px;
    padding: 0;
}

.editor-page-title-underline {
    width: 180px;
    height: 1px;
    margin-top: -3px;
}

/*
Toolset styles
*/
.toolset {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--editor-floatings-z-index);
}

.toolset-cursor-tools {
    width: auto;
    height: auto;
    display: flex;
    gap: 25px;
}

.toolset-cursor-tools-button {
    position: relative;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 4px;
}

.toolset-cursor-tools-button-hint {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    font-size: 10px;
}

.toolset-cursor-tools-button-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% + 2px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.toolset-text-tools {
    position: fixed;
    bottom: 0;
    width: fit-content;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--editor-floatings-z-index);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.toolset-text-tools-description {
    font-size: 12px;
}

.toolset-text-tools-container {
    display: flex;
    width: fit-content;
    height: 90px;
    gap: 40px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.toolset-text-tools-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

.toolset-text-tools-item-title {
    font-size: 14px;
    width: fit-content;
    height: 20px;
}

.toolset-text-tools-item-content {
    display: flex;
    width: fit-content;
    height: 20px;
    align-items: center;
    gap: 20px;
}

.toolset-text-tools-item-icon {
    width: 30px;
    height: 30px;
}

.toolset-text-tools-item-text {
    display: inline-block;
    width: fit-content;
    height: auto;
    font-size: 12px;
    white-space: nowrap;
}

.toolset-text-tools-item-collapse {
    border-radius: 1px;
    display: flex;
    padding: 0 3px;
    gap: 5px;
    width: fit-content;
    height: auto;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
}

.toolset-text-tools-item-collapse-text {
    font-size: 12px;
}

.toolset-text-tools-item-collapse-separator {
    width: 1px;
    height: 14px;
    background-color: black;
    color: black;
}

.toolset-text-tools-item-collapse-button {
    width: 10px;
    height: 10px;
    font-size: 10px;
}

.toolset-text-tools-item-color-palette {
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 15px;
}

.toolset-text-tools-item-color-palette-color {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.toolset-text-tools-optional {
    position: fixed;
    bottom: 0;
    width: fit-content;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--editor-floatings-z-index);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.toolset-text-tools-optional-description {
    font-size: 12px;
}

.toolset-text-tools-optional-container {
    display: flex;
    width: fit-content;
    height: 90px;
    gap: 25px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.toolset-text-tools-optional-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    height: fit-content;
}

.toolset-text-tools-optional-item-title {
    font-size: 14px;
    width: fit-content;
    height: 20px;
}

.toolset-text-tools-optional-item-content {
    display: flex;
    width: fit-content;
    height: 20px;
    align-items: center;
    gap: 10px;
}

.toolset-text-tools-optional-item-icon {
    width: 30px;
    height: 30px;
}

.toolset-text-tools-optional-item-text {
    display: inline-block;
    width: fit-content;
    height: auto;
    font-size: 12px;
    white-space: nowrap;
}

/*
Lexical styles
*/

.text-block {
    font-size: var(--text-block-font-size) !important;
    outline: none;
    white-space: pre !important;
    text-justify: inter-ideograph;
    pointer-events: none;
    color: black;
    line-height: 30px;
    padding: 0 10px;
}

.editor-paragraph {
    margin: 0 !important;
}

h1 {
    height: 60px;
    font-size: 36px;
    margin: 0 !important;
    line-height: 60px;
}

h2 {
    height: 60px;
    font-size: 30px;
    margin: 0 !important;
    line-height: 60px;
}

h3 {
    height: 60px;
    font-size: 24px;
    margin: 0 !important;
    line-height: 60px;
}

.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.editor-list-ol {
    margin: 0 !important;
}

.editor-list-ul {
    margin: 0 !important;
}

.editor-listitem {
    margin-left: 0 !important;
}

.editor-nested-listitem {
    margin: 0;
    list-style-type: none;
}

ul {
    padding-inline-start: 20px;
}

ol {
    padding-inline-start: 20px;
}

.editor-placeholder {
    position: absolute;
    margin: 0 10px;
    pointer-events: none;
    user-select: none;
    white-space: pre;
    line-height: 30px;
}